<a href="<%= calculator_path(calculator) %>" class="calc-row">
  <span class="calc-row__icon"><%= heroicon "calculator", variant: :outline %></span>
  <span class="calc-row__text">
    <span class="calc-row__title"><%= calculator.title %></span>
    <span class="calc-row__desc"><%= calculator.tagline %></span>
  </span>
  <span class="calc-row__arrow"><%= heroicon "chevron-right", variant: :outline %></span>
</a>
