<% meta_title(@path.title) %>
<% meta_description(@path.description.to_s.truncate(160)) %>
<% canonical_url("#{site_config.url}/paths/#{@path.slug}") %>

<% content_for(:head) do %>
  <%= json_ld_tag(course_json_ld(@path)) %>
  <%= json_ld_tag(breadcrumb_json_ld([
    { title: t("breadcrumbs.home"), url: "#{site_config.url}/" },
    { title: t("paths.title"), url: "#{site_config.url}/paths" },
    { title: @path.title, url: "#{site_config.url}/paths/#{@path.slug}" }
  ])) %>
<% end %>

<section class="section">
  <div class="container container--reading">
    <div class="path-hero">
      <div class="topic-hero-icon">
        <%= render "shared/topic_badge", token: path_icon_token(@path) %>
      </div>
      <h1 class="path__title"><%= @path.title %></h1>
    </div>

    <div class="path__overview">
      <p class="path__overview-text"><%= @path.description %></p>
    </div>

    <div class="path__start">
      <% if signed_in? && @completed_ids.any? %>
        <%= render "shared/progress_bar", completed: @completed_ids.size, total: @path.lessons_count %>
        <% if @continue_lesson %>
          <%= link_to @continue_lesson, class: "btn btn--reversed btn--large" do %>
            <%= t("paths.continue_learning") %>
            <%= heroicon "arrow-right", variant: :outline %>
          <% end %>
          <p class="path__continue-hint"><%= t("paths.next_up", title: @continue_lesson.title) %></p>
        <% end %>
      <% elsif @continue_lesson %>
        <%= link_to @continue_lesson, class: "btn btn--reversed btn--large" do %>
          <%= t("paths.start_learning") %>
          <%= heroicon "arrow-right", variant: :outline %>
        <% end %>
      <% end %>
    </div>

    <div class="course-cards">
      <% @courses.each_with_index do |course, index| %>
        <%= render "course_card",
              course: course,
              completed: @completed_by_course[course.id] || 0,
              total: course.lessons_count,
              lessons_n: @kind_counts[[course.id, "lesson"]].to_i,
              practice_n: @kind_counts[[course.id, "practice"]].to_i %>
      <% end %>
    </div>

    <% if @library_preview.any? %>
      <section class="path__library">
        <div class="library-profession__head">
          <h2 class="section-title"><%= t("resources.section_title") %></h2>
          <a href="<%= resources_path(path: @path.slug) %>" class="link-quiet">
            <%= t("resources.section_link") %>
          </a>
        </div>
        <ul class="lesson-resources">
          <%= render partial: "resources/resource_link", collection: @library_preview, as: :entry %>
        </ul>
      </section>
    <% end %>
  </div>
</section>

<%= render "shared/support_cta" %>
