<p><%= t("passwords_mailer.reset.greeting", name: @user.name) %></p>

<p><%= t("passwords_mailer.reset.body") %></p>

<p><%= link_to t("passwords_mailer.reset.link_text"), edit_password_url(@user.password_reset_token) %></p>

<p><%= t("passwords_mailer.reset.expires") %></p>

<p><%= t("passwords_mailer.reset.ignore") %></p>
