<% meta_title(t("admin.new_path")) %>

<section class="admin-page">
  <div class="container">
    <%= render "admin/shared/nav" %>

    <div class="admin-header">
      <div class="admin-header__title-group">
        <a href="<%= admin_paths_path %>" class="admin-header__back" aria-label="<%= t('admin.back') %>">
          <%= heroicon("arrow-left", variant: :outline) %>
        </a>
        <h1 class="admin-header__title"><%= t("admin.new_path") %></h1>
      </div>
    </div>

    <%= render "admin/paths/form", path: @path %>
  </div>
</section>
