<p class="lesson-edit-prompt">
  <%= t("lessons.found_error_question") %>
  <%= link_to t("lessons.suggest_edit"),
      new_lesson_suggestion_path(lesson_slug: @lesson.slug),
      class: "lesson-edit-link" %>
</p>

<nav class="lesson-nav">
  <div class="lesson-nav__row">
    <% if (prev = @lesson.prev_in_path) %>
      <%= link_to prev, class: "lesson-nav__pill" do %>
        <%= heroicon("chevron-left", variant: :outline) %>
        <span class="lesson-nav__pill-text">
          <span class="lesson-nav__pill-label"><%= t("lessons.previous_lesson") %></span>
          <span class="lesson-nav__pill-title"><%= prev.title %></span>
        </span>
      <% end %>
    <% else %>
      <span></span>
    <% end %>

    <% if (nxt = @lesson.next_in_path) %>
      <%= link_to nxt, class: "lesson-nav__pill lesson-nav__pill--next" do %>
        <span class="lesson-nav__pill-text">
          <span class="lesson-nav__pill-label"><%= t("lessons.next_lesson") %></span>
          <span class="lesson-nav__pill-title"><%= nxt.title %></span>
        </span>
        <%= heroicon("chevron-right", variant: :outline) %>
      <% end %>
    <% end %>
  </div>
</nav>
