<li class="lesson-resource <%= resource.required? ? "lesson-resource--required" : "lesson-resource--optional" %>">
  <%= resource_kind_badge(resource) %>
  <%= resource_lang_badge(resource) %>
  <a href="<%= resource.url %>" class="lesson-resource__link" target="_blank" rel="noopener">
    <%= resource.title %>
  </a>
</li>
